@charset "utf-8";



.btn a { transition: background 0.3s,border 0.3s; display: inline-block; border: 1px solid #000;}
.btn a:hover { border: 0; background: #bb2a1b; color: #fff;}

#main { padding-top: 164px;}
#main section { text-align: center; padding: 100px 0;}
#main h2 { font-size: 6rem; color: #bb2a1b;}
#main p { font-size: 2.4rem; padding-bottom: 100px;}

@media (max-width: 1080px) {
    #main { padding-top: 160px;}
}

@media (max-width: 768px){
    #main { padding-top: 60px;}
    #main h2 { font-size: 4rem;}
    #new p { font-size: 1.8rem;}
}

@media (max-width: 430px){
    #main section { padding: 50px 0;}
}

#main #mv { padding: 0;}
video { width: 100vw;}


#new h2 { color: #000;}
#new .box { display: flex; gap: 50px; justify-content: center; padding: 0 20%; }
#new .img { width: 65%;}
#new .img img { width: 100%;}
#new ul { width: 35%;}
#new ul li img { width: 100%;}
#new ul dl dt { font-size: 1.8rem; padding: 20px 0; line-height: 1.3;}
#new ul dl dt a { text-decoration: underline; font-weight: 700;}
#new ul dl dt a:hover { color: #bb2a1b;}
#new ul dl dd { font-size: 1.6rem; padding-bottom: 30px;}
#new ul .btn a { font-size: 1.4rem; padding: 8px 20px; }

@media (max-width:1024px ){
    #new .box { padding:0 5%;}
}
@media (max-width: 768px) {
    #new .box { gap: 30px;}
    #new .img { width: 70%;}
    #new ul dl dt { font-size: 1.6rem; padding: 10px 0;}
    #new ul dl dd { font-size: 1.4rem; padding-bottom: 20px ;}
    #new ul .btn a { font-size: 1.2rem; padding: 5px 20px;}
}
@media (max-width: 500px) {
    #new h2 { font-size: 3rem;}
    #new .box { gap: 20px;}
    #new p { font-size: 1.4rem; padding-bottom: 50px;}
    #new ul dl dt { font-size: 1.4rem;}
    #new ul dl dd { font-size: 1rem;}
    #new ul .btn a { font-size: 1rem; padding: 5px 20px;}
}



#icon .inner { padding: 0 10%;}


#icon .swiper { width: 100%;}
#icon .list { display: flex; justify-content: center; gap: 100px; padding-bottom: 60px;}

#icon .img { position: relative;}
#icon .img img { width: 100%;}
#icon .img img:nth-child(2) { transition: opacity 0.3s; position: absolute; left: 0; top: 0; opacity: 0;}
#icon .img:hover img:nth-child(2) { opacity: 1;}

#icon .list .txt { text-align: left;}
#icon .list h3 { font-size: 3.6rem; font-weight: 600; padding-top: 20px;}
#icon .list h4 { font-weight: 400; font-size: 2rem; }
#icon .list p { font-size: 2rem; padding: 60px 0 80px;}
#icon .list h5 { font-size: 2rem; font-weight: 600; padding-bottom: 40px;}

#icon .list .btn a { padding: 15px 100px; }
#icon .list .btn a:hover { border: 0; background: #bb2a1b; color: #fff;}

:root { --swiper-theme-color: #000}

@media (max-width: 1400px){
    #icon .inner { padding: 0 5%; max-width: 100%;}
    #icon .list { gap: 50px;}
}
@media (max-width: 1024px){
    #icon .inner { padding: 0;}
    #icon .list { padding: 0 5% 60px;}
}
@media (max-width: 768px){
    #icon img { width: 90%;}
    #icon .list .txt { width: 60%;}
    #icon p { padding-bottom: 50px;}
    #icon .list { padding-bottom: 40px; gap: 20px; }
    #icon .list h3 { font-size: 2.8rem; padding-top: 0; }
    #icon .list h4 { font-size: 1.8rem;}
    #icon .list p { font-size: 1.6rem; padding: 40px 0 ;}
    #icon .list h5 { font-size: 1.6rem;}
    #icon .list .btn a { padding: 15px 80px; font-size: 1.4rem;}
    
}
@media (max-width: 590px) {
    
    #icon .list h3 { font-size: 1.8rem;}
    #icon .list h4 { font-size: 1.6rem;}
    #icon .list p { padding: 30px 0;}
    #icon .list .btn a { padding: 12px 50px;}
    #icon .swiper-button-prev,#icon .swiper-button-next { display: none;}
}
@media (max-width: 430px) {
    #icon h2 { font-size: 3rem;}
    #icon p { font-size: 1.4rem;}
    #icon .img { width: 60%;}
    /* #icon img { width: 80%;} */
    #icon .list { padding: 0 10px 40px 10px;}
    #icon .list h3 { font-size: 1.6rem;}
    #icon .list h4 { font-size: 1.4rem;}
    #icon .list p { font-size: 1.4rem; padding: 20px 0;}
    #icon .list h5 {font-size: 1.4rem; padding-bottom: 10px;}
    #icon .list .btn a { font-size: 1.2rem; padding: 12px 40px;}
}


#body .inner { display: flex; gap: 50px;  margin: 0; max-width: 100%;}
#body .left { text-align: left; padding-left: 3%; width: 40%;}
#body .left p { font-size: 2rem; padding: 20px 0;}
#body .left img { width: 100%;}

#body .b_right { width: 60%; padding-bottom: 40px; }
#body .b_right .thumb { position: relative; }
#body .b_right .thumb img { width: 100%;}

#body .thumb img:nth-child(2) { transition: opacity 0.3s; position: absolute; left: 0; top: 0; opacity: 0;}
#body .thumb:hover img:nth-child(2) { opacity: 1;}
#body .b_right dl dt { font-size: 2.2rem; padding: 20px 0;}
#body .b_right dl dd { font-size: 1.8rem; padding-bottom: 20px;}
#body .b_right .btn a { font-size: 1.8rem; padding: 8px 20px;}

#body .swiper-scrollbar { width: 60%; left: 50%; bottom: 0; transform: translateX(-50%);}
#body .swiper-scrollbar-drag { background: #a5453a;}

@media (max-width: 1400px) {
    #body .left { padding-left: 3%;}
    #body .left h2 { font-size: 5rem;}
    #body .left p { font-size: 1.8rem; padding: 10px 0;}
    #body .b_right dl dt { font-size: 2rem;}
    #body .b_right dl dd { font-size: 1.6rem;}
    #body .b_right .btn a { font-size: 1.6rem;}
}
/* @media (max-width: 1200px) {
    #body .b_right .thumb img { width: 80%;}
} */
@media (max-width: 1024px) {
    #body .left h2 { font-size: 3.6rem;}
    #body .left p { font-size: 1.4rem; padding: 10px 0;}
    #body .b_right dl dt { font-size: 1.6rem;}
    #body .b_right dl dd { font-size: 1.4rem;}
    #body .b_right .btn a { font-size: 1.4rem;}
}
@media (max-width: 768px) {
    #body .inner { flex-wrap: wrap;}
    #body .left { width: 100%; padding: 0 5%;}
    #body .b_right { width: 100%;}
}



#gift .inner { display: flex; gap: 50px;  margin: 0; max-width: 100%;}
#gift .left { text-align: left; padding-left: 3%; width: 40%;}
#gift .left p { font-size: 2rem; padding: 20px 0;}
#gift .left img { width: 100%;}

#gift .g_right { width: 60%; padding-bottom: 40px; }
#gift .g_right .thumb { position: relative; }
#gift .g_right .thumb img { width: 100%;}

#gift .thumb img:nth-child(2) { transition: opacity 0.3s; position: absolute; left: 0; top: 0; opacity: 0;}
#gift .thumb:hover img:nth-child(2) { opacity: 1;}
#gift .g_right dl dt { font-size: 2.2rem; padding: 20px 0;}
#gift .g_right dl dt span { opacity: 0;}
#gift .g_right dl dd { font-size: 1.8rem; padding-bottom: 20px;}
#gift .g_right .btn a { font-size: 1.8rem; padding: 8px 20px;}

#gift .swiper-scrollbar { width: 60%; left: 50%; bottom: 0; transform: translateX(-50%);}
#gift .swiper-scrollbar-drag { background: #a5453a;}

@media (max-width: 1400px) {
    #gift .left { padding-left: 3%;}
    #gift .left h2 { font-size: 5rem;}
    #gift .left p { font-size: 1.8rem; padding: 10px 0;}
    #gift .g_right dl dt { font-size: 2rem;}
    #gift .g_right dl dd { font-size: 1.6rem;}
    #gift .g_right .btn a { font-size: 1.6rem;}
}
/* @media (max-width: 1200px) {
    #gift .g_right .thumb img { width: 80%;}
} */
@media (max-width: 1024px) {
    #gift .left h2 { font-size: 3.6rem;}
    #gift .left p { font-size: 1.4rem; padding: 10px 0;}
    #gift .g_right dl dt { font-size: 1.6rem;}
    #gift .g_right dl dd { font-size: 1.4rem;}
    #gift .g_right .btn a { font-size: 1.4rem;}
}
@media (max-width: 768px) {
    #gift .inner { flex-wrap: wrap;}
    #gift .left { width: 100%; padding: 0 5%;}
    #gift .g_right { width: 100%;}
}


#cs ul { display: flex; gap: 200px; justify-content: center;}
#cs ul img { width: 90px;}
#cs ul dl dt { font-size: 1.6rem; font-weight: 600; padding: 20px 0 10px;}
#cs ul dl dd { font-size: 1.4rem; padding-bottom: 10px;}
#cs ul a { font-size: 1.4rem; text-decoration: underline; font-weight: 500; }
#cs ul a:hover { color: #a5453a;}

@media (max-width: 1024px) {
    #cs ul { gap: 100px;}
}
@media (max-width: 768px) {
    #cs ul img { width: 70px;}
    #cs ul dl dt { font-size: 1.4rem; }
    #cs ul dl dd { font-size: 1.2rem; }
    #cs ul a { font-size: 1.2rem;}
}
@media (max-width:590px){
    #cs ul { gap: 50px;}
    #cs ul dl dt { font-size: 1.2rem; }
    #cs ul dl dd { font-size: 1rem; }
    #cs ul a { font-size: 1rem;}
}
@media (max-width: 500px){
    #cs ul { gap: 20px;}
    #cs ul img { width: 50px;}
    #cs ul dl dt { font-size: 1rem; padding: 15px 0 10px;}
    #cs ul dl dd { font-size: 0.8rem; }
    #cs ul a { font-size: 0.8rem;}
}